html, body {
    margin: 0;
    padding: 0;

    font: 1.2em "Fira Sans", sans-serif;
    background-color: rgb(16, 20, 61);
    color: white;
    user-select: none;

    min-width: 1485px;
}

header {
    display: flex;
    border-bottom: solid 1px lightgray;
}

#page-title {
    width: 200px;
    margin: 0 auto 0 0;
    color: white;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 130%;
}

#header-menu {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 85%;
    font-weight: bold;
    padding: auto 0;
}

#header-menu ul {
    display: flex;
    margin: 20px 0 0 0;
    margin-right: 50px;
}

#header-menu li {
    list-style: none;
    margin: 0 15px;
    cursor: pointer;
}

#header-menu li:hover {
    color: yellow;
}

main {
    /* display: grid; */
    padding: 30px;

    /* grid-template: 
        "chart-title chart-title" auto
        "left-area right-area" auto /
        70% 30%; */
}

#chart {
    display: grid;
    grid-template: 
        "chart-title chart-title" auto
        "left-area right-area" auto /
        70% 30%;
}

#info-area {
    display: flex;
    padding-top: 20px;
}

#price {
    font-size: 130%;
    font-weight: bold;
    text-decoration: underline;
    /* border: solid lightgray 1px; */
    /* background-color: white; */
    /* border-radius: 30px; */
    padding-left: 40px;
}

#updown {
    border: solid 1px gray;
    border-radius: 20px;
    font-size: 80%;
    font-weight: bold;
    padding: 5px 10px;
    margin-left: 20px;
    background-color: rgb(88, 172, 72);
}

#chart-title {
    grid-area: chart-title;
    border-bottom: solid 1px gray;
    padding-bottom: 5px;
    font-weight: bold;
}

#left-area {
    grid-area: left-area;
}

#right-area {
    grid-area: right-area;
    border-left: solid 1px gray;
}

#chart-area {
    padding: 20px 50px;
    height: auto;
}

.selecter {
    padding: 20px 0;
    /* height: auto; */
    display: inline-flex;
}
.selecter ul {
    /* display: flex; */
    margin: 0;
    padding: 0;
}

.selecter li {
    float: left;
    cursor: pointer;
    text-align: center;
    font-size: 90%;
    border: solid 1px gray;
    border-radius: 20px;
    padding: 3px 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    list-style: none;
}

.selecter li:hover {
    color: yellow;
    background-color: rgb(121, 114, 160);
}

#range-selecter ul {
    display: flex;
    padding-left: 0;
    margin: 10px 0;
}

#range-selecter li:first-child {
    border-left: solid 1px gray;
}

#range-selecter li {
    text-align: center;
    font-size: 70%;
    border-right: solid 1px gray;
    list-style: none;
    padding: 3px 20px;
}

#range-selecter li:hover {
    background-color: rgb(121, 114, 160);
    color: yellow;
    cursor: pointer;
}

footer {
    text-align: center;
    color: white;
    font-size: 70%;
    font-weight: bold;
    background-color: rgb(12, 72, 163);
    padding: 10px;
}

.space {
    width: 100%;
    height: 30px;
}

#list-title {
    border-bottom: solid 1px gray;
    padding-bottom: 5px;
    font-weight: bold;
}

#ranking-table {
    padding: 20px 40px 0 40px;
}

table, td, th {
    border: none;
    border-bottom: 1px solid lightgray;
}

.table-content:hover {
    background-color: rgb(121, 114, 160);
    cursor: pointer;
    color: yellow;
}

th {
    font-size: 80%;
    background-color: rgb(57, 46, 131);
    padding: 3px;
}

td {
    font-size: 70%;
    padding: 2px;
}

table {
    border-collapse: collapse;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

#ranking-table table {
    overflow-y: scroll;
    overflow-x: scroll;
    width: 100%;
    
}
